@media only screen and (max-width: 1280px) {
    #landing_top {
        grid-template-columns: 1fr;
    }

    #landing_sponsors {
        padding-top: 40px;
    }

    #landing_sponsors > div:last-child > div {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: dense;
    }

    #general_overlay_card {
        width: 64vw;
        height: 36vw;
    }

    #comite_section {
        grid-template-columns: 1fr;
        width: max-content;
        margin: 0 auto;
    }

    .comite_section-title.organizers {
        border-left: 6px solid #4d4d4d;
    }

    .comite_section-title.jury { 
        border-left: 6px solid #1E4D7E;
    }

    .comite_section-title.collaborators { 
        border-left: 6px solid #056446;
    }

    .comite_section-title.coachs { 
        border-left: 6px solid #BD0E3A;
    }

    .comite_section-title.organizers,
    .comite_section-title.jury,
    .comite_section-title.coachs,
    .comite_section-title.collaborators {
        margin-top: 0;
    }

    .comite_section-content.organizers,
    .comite_section-content.jury,
    .comite_section-content.collaborators {
        padding-top: 50px;
    }

    .comite_section-content.coachs .comite_section-person:last-child,
    .comite_section-content.jury .comite_section-person:last-child,
    .comite_section-content.collaborators {
        padding-bottom: 100px;
    }

    .comite_section-title.organizers, 
    .comite_section-title.jury,
    .comite_section-title.coachs,
    .comite_section-title.collaborators {
        border-right: none;
        justify-self: start;
        right: 2px;
        margin-bottom: 0;
    }

    #profile_content {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */
    }

    #profile_content > div:first-child {
        display: none;
    }
    
    .comite_section-content.jury.reuse {
        padding-top: 30px!important;
    }

}

@media only screen and (max-width: 960px) {

    .edition_selector-mobile {
        display: block;
        color: #fff!important;
        background: #888a8d;
        font-weight: 700;
        padding: 7px 15px 7px 15px;
        border-radius: 100px;
        border: 2px solid #888a8d;
        margin-left: 0!important;
        width: max-content;
    }

    .edition_selector-mobile path {
        fill: #fff;
    }

    #edition_selector > div {
        width: 100%;
    }

    #edition_picker {
        top: 40px;
    }

    #edition_picker a {
        height: 30px;
        line-height: 25px;
    }

    header > div {
        grid-template-columns: max-content auto max-content;
    }

    header > nav {
        grid-template-columns: 1fr;
    }

    header > nav > div:first-child {
        /* grid-template-columns: 1fr; */
        grid-auto-flow: row;
    }

    header > nav > div:last-child {
        display: none;
    }
    
    header > nav > div > a:hover {
        transform: translateY(0px);
    }

    header > nav > div > a, header > nav > div > a:first-child{
        padding: 10px 20px;
        border-radius: 10px;
    }

    #signup_btn,  #download_program_btn {
        display: none;
    }

    header > nav > div > a.mobile {
        display: block;
    }

    .hamburger {
        display: block;
    }

    header > nav {
        display: none;
    }

    header > div {
        height: max-content;
    }

    #navbar_special_btns {
        grid-column: 2 / -1;
        justify-content: flex-end;
    }

    footer > div {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (max-width: 925px) {
    #landing_top {
        grid-template-columns: 1fr;
    }

    #landing_sponsors {
        padding-top: 40px;
    }

    #landing_sponsors > div:last-child > div {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: dense;
    }

    #general_overlay_card {
        width: 64vw;
        height: 36vw;
    }

    .col-md-7, .col-md-5{
        width: 100%;
    }

    #body .row {
        grid-gap: 10px;
    }
}


@media only screen and (max-width: 800px) {
    .medium_center {
        padding: 0;
    }

    footer > .right {
        display: none;
    }

    footer {
        grid-template-columns: 1fr;
    }

    #landing_sponsors > div:last-child > div {
        grid-template-columns: 1fr;
        padding-top: 30px;
    }

    #landing_sponsors > div:last-child > img {
        display: none;
    }

    #landing_sponsors > div:last-child {
        grid-template-columns: auto;
    }

    #general_overlay_card {
        width: 100vw;
        height: 56vw;
    }

    #comite_section {
        width: 100%;
    }

    .comite_section-person > img {
        width: 80px;
        height: 80px;
    }

    .comite_section-person h3  {
        font-size: 15px;
    }

    .comite_section-person > div > img {
        height: 12px;
    }

    .comite_section-person .social {
        padding-top: 10px;
    }

    .comite_section-person span {
        left: 24px;
        bottom: 10px;
        font-size: 10px;
    }
/* 
    #landing_top {
        display: none;
    } */

    #landing_sponsors > div:first-child {
        padding: 0;
    }

    #watch_video {
        margin: 40px auto 100px auto ;
    }


    #profile_header > div {
        grid-template-columns: 1fr;
    }

    #profile_header .right > div:last-child {
        width: 120px;
    }
    
    #profile_header .right > div:last-child > img {
        width: 120px;
        height: 120px;
    }

    #profile_header .left {
        padding-top: 25px;
    }

    #profile_header .right > div:first-child {
        padding-left: 30px;
    }


    #profile_header .right {
        /* padding 20px; */
        /* padding-bottom: 30px; */
        /* grid-template- */
        /* justify-content: left right; */
        justify-content: space-between;
        /* margin-left: 30px; */
        padding-bottom: 30px;
    }


    #profile_header > div {
        height: 150px;
    }

    .app_item .body {
        grid-template-columns: 1fr;
    }

    .yt {
        justify-self: center;
    }

    #body .row {
        margin: 0;   
    }

    #main_page_title {
        font-size: 30px;
    }

    .project_item .footer {
        grid-template-columns: 1fr;
    }

    .project_item .footer .team img {
        width: 100px;
        height: 100px;
    }

    .project_item .header {
        grid-auto-flow: row;
    }

    .project_item > img {
        width: 90%;
        margin-top: 30px;
    }

    .project_item .header span {
        justify-self: baseline;
    }

    #body #header {
        height: 700px;
    }

    #body #header_filler {
        height: 450px;
    }

    #body #header {
        top: -300px;
    }

    #code_home_section {
        margin: 0;
        margin-top: 40px;
    }

    #domains_home_section {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    #code_home_section {
        height: max-content;
    }

    #code_home_section > div {
        grid-template-columns: 1fr;
        position: static;
        padding: 20px;
        grid-gap: 15px;
    }

}