.icon_flag_fr {
    background: url('../images/flags/flag_fr.svg') no-repeat;
}

.icon_flag_en {
    background: url('../images/flags/flag_en.svg') no-repeat;
}

.icon_flag_nl {
    background: url('../images/flags/flag_nl.svg') no-repeat;
}