{% extends "base.html" %}

{% load i18n static %}

{% block content %}
<div id="old_content">
<div class="container-fluid" id="body" style="padding: 0;">
    <div id="header" class="news_page">
        <div class="news_post">
            <img src="{{ post.header.url }}" alt="">
            <div>
                <span>{{ post.date|date:"M d, Y" }}</span>
                <h3>{{ post.title }}</h3>
            </div>
        </div>
    </div>
    <div id="header_filler"></div>

    <div id="article_content" class="medium_center">
        {{ post.content |safe }}
    </div>

</div>
</div>
{% endblock %}

