{% extends "base.html" %}

{% load i18n static %}

{% block content %}

<div id="profile_page">
	<div id="profile_header">
		<div class="large_center">
			<div class="left">
				<h2>{{ object.user.first_name}} {{ object.user.last_name}}</h2>
				{% if object.funding_info %}
					<p>{{ object.funding_info }}</p>
				{% endif %}
			</div>
			<div class="right">
				<div>
					{% if object.github %}
						<a href="{{ object.github }}" target="_blank"><img src="{% static 'images/githubWhite.svg' %}"></a>
					{% endif %}
					{% if object.linkedin %}
						<a href="{{ object.linkedin }}" target="_blank"><img src="{% static 'images/linkedinWhite.svg' %}"></a>
					{% endif %}
					{% if object.website %}
						<a href="{{ object.website }}" target="_blank"><img src="{% static 'images/websiteWhite.svg' %}"></a>
					{% endif %}
				</div>
				<div>
					<img src="{{ object.picture.url }}">
				</div>
			</div>
		</div>
	</div>

		<div id="profile_content" class="medium_center">
			{% if object.bio or object.thesis  %}
				<div class="comite_section-title reuse"></div>
				<div class="comite_section-content reuse" style="height: 100px;"></div>
			{% endif %}

			<!-- Biography -->
			{% if object.bio %}
				<div class="comite_section-title jury reuse">Biography</div>
				<div class="comite_section-content jury reuse bio">
					{{ object.bio }}
				</div>
			{% endif %}

			<!-- Thesis -->
			{% if object.thesis %}
				<div class="comite_section-title jury reuse">Thesis</div>
				<div class="comite_section-content jury reuse" style="padding-top:0px;">
					<h3>{{ object.thesis.title }}</h3>
					<p style="margin-bottom: 5px;"><span>ABSTRACT :</span></p>
					<p style="margin-top:0;">{{ object.thesis.description }}</p>
					<p><span>KEYWORDS :</span> {{ object.thesis.keywords }}</p>
					<img src="{{ object.thesis.image.url}}" alt="">
				</div>
			{% endif %}

			<!-- Advisors -->
			{% if object.thesis.advisors.all %}
				<div class="comite_section-title jury reuse">Advisors</div>
				<div class="comite_section-content jury reuse">
					<div class="advisors_section">
						{% for advisor in object.thesis.advisors.all %}
							<div class="comite_section-person">
								<img src="{{ advisor.picture.url }}" alt="">
								<div>
									<h3>{{ advisor.user.first_name }} {{ advisor.user.last_name }}</h3>
									<p>{{ advisor.research_interest }}</p>
									
									{% if advisor.rank != 'Other' %}
										<a href="{% url 'profile' advisor.user.username %}" class="arrow_btn blue_button">
											Check Profile
											<svg class="btn_hover_arrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
												<g fill-rule="evenodd">
													<path class="btn_hover_arrow__linePath" d="M0 5h7"></path>
													<path class="btn_hover_arrow__tipPath" d="M1 1l4 4-4 4"></path>
												</g>
											</svg>
										</a>
									{% endif %}

								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			{% endif %}

			<!-- Publications -->
			<!-- <div class="comite_section-title jury reuse">Publications</div>
			<div class="comite_section-content jury reuse">
				
			</div> -->

		</div>

</div>

{% endblock %}

