{% extends "base.html" %}

{% load i18n static %}

{% block content %}
<div id="old_content" class="medium_center">
<div class="container-fluid" id="body">

	<div class="row" style="align-items: center;">
		<div id="main_page_title">
            PROJECTS
		</div>
	</div>

	{% for item in object_list %}

		<div class="project_item">

			<div class="header">
				<h3>{{ item.title }}</h3>
				<span>{{ item.start_date|date:"Y" }} - {{ item.end_date|date:"Y" }}</span>
			</div>
			
			{% if item.image %}
				<img src="{{ item.image.url }}" alt="">
			{% endif %}

			{% if item.description %}
				<p>{{ item.description }}</p>
			{% endif %}

			<div class="footer">
				<div class="team">
					{% if item.managers.all %}
						<h4>Coordinators</h4>
						<div>
							{% for manager in item.managers.all %}
								<a target="_blank" href="{% url 'profile' manager.user.username %}"><img src="{{ manager.picture.url }}" alt=""></a>
							{% endfor %}
						</div>
					{% endif %}

					{% if item.researchers.all %}
						<h4>Researchers</h4>
						<div>
							{% for researcher in item.researchers.all %}
								<a target="_blank" href="{% url 'profile' researcher.user.username %}"><img src="{{ researcher.picture.url }}" alt=""></a>
							{% endfor %}
						</div>
					{% endif %}
					
				</div>
				
				<div class="partners">
					{% if item.partners.all %}
						<h4>Partners</h4>
						<div>
							{% for partner in item.partners.all %}
								{% if partner.website and partner.logo  %}
									<a target="_blank" href="{{ partner.website }}"><img src="{{ partner.logo.url }}" alt=""></a>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>

		</div>
	{% endfor %}

</div>
</div>

{% endblock %}

