{% extends "base.html" %}

{% load i18n static %}

{% block content %}
<div id="old_content" class="medium_center">
<div class="container-fluid" id="body">

	<div class="row" style="align-items: center;">
		<div id="main_page_title">
            TEAM
		</div>
	</div>

	<div id="comite_section">
        {% if professors %}
			<div class="comite_section-title coachs">Professor</div>

			<div class="comite_section-content coachs">
				{% for prof in professors %}
				
					<div class="comite_section-person">
						<img src="{{ prof.picture.url }}" alt="">
						<div>
							<h3>{{ prof.user.first_name }} {{ prof.user.last_name }}</h3>
							<p>{{ prof.research_interest }}</p>
							<a href="{% url 'profile' prof.user.username %}" class="arrow_btn blue_button">
								Check Profile
								<svg class="btn_hover_arrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
									<g fill-rule="evenodd">
										<path class="btn_hover_arrow__linePath" d="M0 5h7"></path>
										<path class="btn_hover_arrow__tipPath" d="M1 1l4 4-4 4"></path>
									</g>
								</svg>
							</a>
						</div>
					</div>
				
				{% endfor %}
			</div>
		{% endif %}

		{% if phds %}
			<div class="comite_section-title jury">PhD Students</div>
			<div class="comite_section-content jury">
				{% for phd in phds %}
				
					<div class="comite_section-person">
						<img src="{{ phd.picture.url }}" alt="">
						<div>
							<h3>{{ phd.user.first_name }} {{ phd.user.last_name }}</h3>
							<p>{{ phd.research_interest }}</p>
							<a href="{% url 'profile' phd.user.username %}" class="arrow_btn blue_button">
								Check Profile
								<svg class="btn_hover_arrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
									<g fill-rule="evenodd">
										<path class="btn_hover_arrow__linePath" d="M0 5h7"></path>
										<path class="btn_hover_arrow__tipPath" d="M1 1l4 4-4 4"></path>
									</g>
								</svg>
							</a>
						</div>
					</div>
				
				{% endfor %}
			</div>
		{% endif %}

		{% if engineers %}
		<div class="comite_section-title organizers">Engineers</div>
		<div class="comite_section-content organizers">
			{% for engineer in engineers %}
			
				<div class="comite_section-person">
					<img src="{{ engineer.picture.url }}" alt="">
					<div>
						<h3>{{ engineer.user.first_name }} {{ engineer.user.last_name }}</h3>
						<p>{{ engineer.research_interest }}</p>
						<a href="{% url 'profile' engineer.user.username %}" class="arrow_btn blue_button">
							Check Profile
							<svg class="btn_hover_arrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
								<g fill-rule="evenodd">
									<path class="btn_hover_arrow__linePath" d="M0 5h7"></path>
									<path class="btn_hover_arrow__tipPath" d="M1 1l4 4-4 4"></path>
								</g>
							</svg>
						</a>
					</div>
				</div>
			
			{% endfor %}
		</div>
		{% endif %}

		{% if collaborators %}
		<div class="comite_section-title collaborators">Collaborators</div>
		<div class="comite_section-content collaborators">
			{% for collaborator in collaborators %}
			
				<div class="comite_section-person comite_section-person-other">
					<img src="{{ collaborator.picture.url }}" alt="">
					<div>
						<h3>{{ collaborator.user.first_name }} {{ collaborator.user.last_name }}</h3>
						<p>{{ collaborator.research_interest }}</p>
						<a href="{% url 'profile' collaborator.user.username %}" class="arrow_btn blue_button">
							Check Profile
							<svg class="btn_hover_arrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
								<g fill-rule="evenodd">
									<path class="btn_hover_arrow__linePath" d="M0 5h7"></path>
									<path class="btn_hover_arrow__tipPath" d="M1 1l4 4-4 4"></path>
								</g>
							</svg>
						</a>
					</div>
				</div>
			
			{% endfor %}
		</div>
		{% endif %}

	</div>

</div>
</div>

{% endblock %}

