{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1 class="title">Change Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button is-primary">Change Password</button>
        </form>
    </div>
</section>
{% endblock %}